*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
}

.logo_header, .logo{
    color: black;
    width: 45px;
    font-size: 50px;
}

.header,
.headernav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: darkgreen;
    box-shadow: 1px 1px 4px black;
    height: 5em;
    justify-content: space-between;
    padding: 0 10%;
}

.headernav{
    gap: 3em;
}

.headernav a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-weight: bold;
    border-radius: 20px;
}

.active{
    background-color:#ffc222;
    padding: 10px;
    border-radius: 10px;
}

.content{
    text-align: center;
    padding-top: 5em;
}

.headernav a:hover,
.headernav a.active{
    background: #ffc222;
    color: black;
    padding: 10px;
}

.logo_header a:hover,
.logo a:active{
    transition: 0.3s;
    border-radius: 10px;
    background: #ffc222;
    color: black;
    padding: 10px;
}